body{
  font-family: 'Righteous', cursive;
  font-family: 'Exo', sans-serif;
}

.bg-morado{
  background: #3498DB;
  color: #FFFFFF;
}

h5{
  color: #373A3C;
  font-family: 'Righteous', cursive;

}
p{
  color: #373A3C;
  font-family:'Exo', sans-serif;
}
h1{
  font-family: 'Righteous', cursive;
  
}
h3{
  margin-left: 20%;
  margin-right: 20%;
}
.margen{
  margin-left: 40%;
}

html {
 scroll-behavior: smooth;
}

.claro{
  color: #FFFFFF;
}

a {
  color: #ffffff;
}
.border-top{
  margin-left: 30%;
  margin-right: 30%;
}

.altura{
  height: 40%;
  padding-top: 40%;

}
 h4{
  padding-bottom: 10%;
 }

.multimedia{
  width: 15%;
}
.iconos{
  color: #EE0BC1;
}

.border1{
  width: 5%;
}
.border2{
  width: 40%;
}
@media (min-width: 576px) {
  .altura{
    padding-bottom: 10%;
  }

}
